/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family:"helvetica-lt-std-roman";
  src:url("https://candyfonts.com/wp-data/2019/04/06/51153/HelveticaLTStd-Roman.otf") format("woff"),
  url("https://candyfonts.com/wp-data/2019/04/06/51153/HelveticaLTStd-Roman.otf") format("opentype"),
  url("https://candyfonts.com/wp-data/2019/04/06/51153/HelveticaLTStd-Roman.otf") format("truetype");
}

@media (max-width: 640px){
  .complete {
    margin: 0px 10px;
  }
  #theme-scroll {
    position: relative;
  
    z-index: 2;
    height: 35vh;
    @apply w-full;
    @apply border; 
    @apply border-solid;
    @apply border-l-0;
    @apply border-r-0;
    @apply border-t-0;
    @apply overflow-y-scroll;
  }

  .svg-logo {
    height: 6em;
    width: auto;
  }

  #scroll {
  height: 45vh;
  z-index: 1;
  position: relative;
  }

  #header{
  z-index: 3;
  position: relative;
 
  }
}
.svg {
  height: 15px;
  width: auto;
}
.svg-logo {
  height: 3.5em;
  width: auto;
}

.header {
  padding-top: 1.5vh;
  @apply w-full;
  @apply px-4;
  @apply py-2;
  @apply flex;
  @apply flex-wrap;
  @apply border; 
  @apply border-solid;
  @apply border-l-0;
  @apply border-r-0;
  @apply md:flex-row;
  @apply md:justify-between;

}

main {
  @apply flex;
  @apply flex-wrap;
}

.player {
 @apply sticky;
 @apply w-full;
 @apply  h-16;
 @apply bottom-0;
 @apply bg-white;
 z-index: 2;
 top: -1px;
}

.scroll {
  height: 100vh;
  /* por agunarazon necesito top en 0 para poder tener un sticky website */
  top: 0px;
  @apply px-2;
  @apply md:px-8;
  @apply py-1;
  @apply md:py-4;
  @apply overflow-y-scroll;
  @apply m-0;
  @apply sticky;
  @apply md:w-full;
  @apply md:w-4/6;
}

.scroll h1,
h2,
h3 {
  @apply mt-3;
}
.scroll p {

}

.first-child div:first-child {
  @apply bg-gray-200;
}

.theme-scroll {
@apply sticky;
@apply  md:w-2/6;
@apply md:h-full;
}


.complete {
  font-family: "helvetica-lt-std-roman", sans-serif;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply w-full;
  @apply md:w-4/5;
  @apply lg:w-3/5;
  /* box-shadow: 5px 0px 3px 3px rgba(0, 0, 0, 0.2); */
}

.left-shadow{
  /* box-shadow: -5px 0px 3px 3px rgba(0, 0, 0, 0.2); */
}
